<div class="flex">
    <div class="abc" nz-row nzGutter="16">
        <div nz-col nzSpan="12">
            <nz-card nzTitle="Miss Profile">
                <img nz-image width="200px" height="200px"
                    nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png" alt="" />
                <p><strong>Name:</strong> {{ user.name }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Contact:</strong> {{ user.contact }}</p>
                <p><strong>Address:</strong> {{ user.address }}</p>
                <!-- Add more user details as needed -->
            </nz-card>
        </div>
    </div>
</div>