<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px">
    <div class="logo"></div>
    <ul nz-menu nzTheme="red" nzMode="inline">
      <li nz-menu-item>
        <a routerLink="/pages/home">        
         <span>Home</span>   
      </a>
      </li>
      <li nz-menu-item>
        <a routerLink="/pages/search">
        <!-- <span nz-icon nzType="pie-chart"></span> -->
        <span>Search</span>
      </a>
      </li>
      <li nz-menu-item>
        <a routerLink="/pages/bookings">
        <!-- <span nz-icon nzType="pie-chart"></span> -->
        <span>Bookings</span>
      </a>
      <li nz-menu-item>
        <a routerLink="/pages/analytics">
        <!-- <span nz-icon nzType="pie-chart"></span> -->
        <span>Analytics</span>
      </a>
      </li>
      <li nz-menu-item>
        <a routerLink="/pages/profile">
        <!-- <span nz-icon nzType="pie-chart"></span> -->
        <span>Profile</span>
      </a>
      </li>
      <li nz-menu-item>
        <a routerLink="/pages/report">
        <!-- <span nz-icon nzType="pie-chart"></span> -->
        <span>Report</span>
      </a>
      </li>
      <li nz-menu-item>
        <a routerLink="/pages/calender">
        <!-- <span nz-icon nzType="pie-chart"></span> -->
        <span>Calender</span>
      </a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header></nz-header>
    <nz-content>
      <router-outlet>
      </router-outlet>
    </nz-content>
     <nz-footer>Bookings Form ©2020 Implement By Abdullah</nz-footer> 
  </nz-layout>
</nz-layout>



